<!DOCTYPE html>
<html lang="pt_Br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/stylesheet/editTaksAdmin.css">
    <title>Document</title>
</head>
<body>
    <header></header>
    <main>
        <img class="logo_painel_admin" src="../public/image/Logo.png" alt="logo da empresa">
        <article>
            <div class="subtitulo_painel_admin">
                <h2>TESTTT</h2>
            </div>
        </article>


        <form action="/atualizarTarefa/<%= id_taks %>" method="post" enctype="application/x-www-form-urlencoded">
            <div class="container_editTask">
                <div>
                    <label>Nome da Tarefa:
                        <input type="text" name="nome_tarefa" id="Input_nome" required>
                    </label>
                </div>
                <div>
                    <label>Dia:
                        <select name="dia" id="Dia_da_semana" required>
                            <option value="Segunda">Segunda</option>
                            <option value="Terça">Terça</option>
                            <option value="Quarta">Quarta</option>
                            <option value="Quinta">Quinta</option>
                            <option value="Sexta">Sexta</option>
                            <option value="Sábado">Sábado</option>
                            <option value="Domingo">Domingo</option>
                        </select>
                    </label>
                </div>
                <div>
                    <label class="descricao">Descrição:</label>
                        <textarea name="descricao" type="text" required></textarea>
                </div>
                <div>
                    <label>Estado:
                        <select name="concluido" required>
                            <option> </option>
                            <option value="1">Concluido</option>
                            <option value="0">Não concluido</option>
                        </select>
                    </label>
                </div>
                <div>
                    <label>Condomínio:
                        <input name="condominio" type="text" required>
                    </label>
                </div>
                <div class="container_bts">
                    <a href=""><button class="voltar">Voltar</button></a>
                    <button class="submit" type="submit">Enviar</button>
                </div>
            </div>
        </form>
    </main>
    <footer>
        <div>
            <p>Agillité Services 2023</p>
        </div>
    </footer>
</body>
</html>