@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

* {
    padding: 0;
    margin: 0;
}


body{
    background-image: url(../image/background.svg);
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
    min-height: 100vh; /* Isso é importante para que o footer fique na parte inferior da página */
    position: relative; /* Define a posição relativa para o body */
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

@media print {
    body {
      display: none;
    }
}

.subtitulo_painel_admin {
    text-align: center;
    color: white;
    font-family: 'Montserrat';
    font-size: 0.8em;
    margin-bottom: 20%;
}

.logo_painel_admin {
    width: 100vw;
    margin-top: 20%;
}

.main_content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* Centralizar verticalmente */
    height: 50vh;
    /* Definir a altura da div para ocupar toda a altura da janela de visualização */
}

.form-row {
    display: flex;
    align-items: center;
    text-align: center;
    gap: 5px;
    margin-bottom: 10px;
    font-family: 'Montserrat';
    color: white;
    font-weight: bold;
}

.form-row-button{
    display: flex;
    margin-top: 10%;
    margin-left: 17%;
    justify-content: center;
    gap: 10%;
}

.form-row-button button {
    width: 60%;
}

.form-row-button a {
    width: 100%;
}

.form-label {
    flex: 1;
}

.form-input {
    flex: 2;
    margin-right: 6%;
}

.myButton {
    box-shadow: 0px 1px 0px 0px #fff6af;
    background: linear-gradient(to bottom, #ffec64 5%, #ffab23 100%);
    background-color: #ffec64;
    border-radius: 23px;
    border: 1px solid #ffaa22;
    display: inline-block;
    cursor: pointer;
    color: #333333;
    font-family: Arial;
    font-size: 13px;
    font-weight: bold;
    padding: 5px 9px;
    text-decoration: none;
    text-shadow: 0px 1px 0px #ffee66;
}

.myButton:hover {
    background: linear-gradient(to bottom, #ffab23 5%, #ffec64 100%);
    background-color: #ffab23;
}

.myButton:active {
    position: relative;
    top: 1px;
}

/* Estilos do footer */
footer {
    margin-top: 20%;
    color: white;
    text-align: center;
    bottom: 0;
    margin-bottom: 2%;
    width: 100%;
    font-family: 'Montserrat';
    font-weight: 700;
}