@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

*{
    padding: 0;
    margin: 0;
}


body{
    background-image: url(../image/background.svg);
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
    min-height: 100vh; /* Isso é importante para que o footer fique na parte inferior da página */
    position: relative; /* Define a posição relativa para o body */
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

@media print {
    body {
      display: none;
    }
}

.logo_painel_admin{
    width: 100vw;
    margin-top: 20%;
}

.subtitulo_painel_admin{
    text-align: center;
    color: white;
    font-family: 'Montserrat';
    font-size: 1.2em;
    margin-bottom: 5%;
}

.container_tasks{ 
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 6%;
    margin-right: 6%;
}

.container_tasks div{
    display: inline-block;
    padding: 2%;
    align-items: center;
    width: 70%;

}

.form_NewTask {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-right: 8%;
    margin-left: 4%;
    margin-top: 10%;
}

.form-row {
    display: flex;
    align-items: center;
    text-align: center;
    gap: 5px;
    margin-bottom: 10px;
    font-family: 'Montserrat';
    color: white;
    font-weight: bold;
    font-size: 12px;
}

.form-row-button {
    display: flex;
    margin-top: 10%;
    margin-left: 10%;
    justify-content: center;
   
}



.form-row-button a {
    width: 100%;
}

.form-label {
    flex: 1;
}

.form-input,
.form-select {
    flex: 2;
    background-color: #fff;
    color: #000;
}

.container_editTask {
    margin: 0% 6%;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Montserrat';
    font-weight: 700;
    color: white;
}

.myButton {
    box-shadow: 0px 1px 0px 0px #fff6af;
    background: linear-gradient(to bottom, #ffec64 5%, #ffab23 100%);
    background-color: #ffec64;
    border-radius: 23px;
    border: 1px solid #ffaa22;
    display: inline-block;
    cursor: pointer;
    color: #333333;
    font-family: Arial;
    font-size: 13px;
    font-weight: bold;
    padding: 5px 90px;
    text-decoration: none;
    text-shadow: 0px 1px 0px #ffee66;
}

.myButton:hover {
    background: linear-gradient(to bottom, #ffab23 5%, #ffec64 100%);
    background-color: #ffab23;
}

.myButton:active {
    position: relative;
    top: 1px;
}

.container_editTask div {
    margin: 2% 0%;
}

.container_tasks h3{
    font-family: 'Montserrat';
    font-size: 1em;
    color: #fff;
    font-weight: 700;
}

.container_tasks label{
    font-family: 'Montserrat';
    font-size: 1em;
    color: #fff;
    font-weight: 700;
}

.justificativa_class{
    vertical-align: 22px;
}

.container_tasks input, select, option, textarea{
    padding: 2% 0%;
    width: 50%;
    color: #000;
    font-size: 1em;
    font-family: 'Montserrat';
    font-weight: 700;
}

.div_buttons{
    margin-top: 2%;
}

.bt_enviar{
    padding: 2%;
    background-color: green;
    color: #000;
    font-size: 1em;
    font-family: 'Montserrat';
    font-weight: 700;
    border: transparent;
    border-radius: 5px;
    cursor: pointer;
}

.bt_voltar{
    padding: 2% !important;
    background-color: #800;;
    color: #000;
    font-size: 1em;
    font-family: 'Montserrat';
    font-weight: 700;
    border: transparent;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 3%;
}

/* Estilos do footer */
footer {
    margin-top: 5%;
    color: white;
    text-align: center;
    bottom: 0;
    margin-bottom: 4%;
    width: 100%;
    font-family: 'Montserrat';
    font-weight: 700;
}