@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

*{
    padding: 0;
    margin: 0;
}

body{
    background-image: url(../image/background.svg);
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
    min-height: 100vh; /* Isso é importante para que o footer fique na parte inferior da página */
    position: relative; /* Define a posição relativa para o body */
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

@media print {
    body {
      display: none;
    }
}

.logo_painel_admin{
    width: 100vw;
    margin-top: 20%;
}

.subtitulo_painel_admin{
    text-align: center;
    color: white;
    font-family: 'Montserrat';
    font-size: 1.2em;
    margin-bottom: 5%;
}

.container_tasks{ 
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 6%;
    margin-right: 6%;
}

.container_tasks div{
    display: inline-block;
    padding: 2%;
    align-items: center;
    width: 70%;

}

.container_tasks h3{
    font-family: 'Montserrat';
    font-size: 1em;
    color: #fff;
    font-weight: 700;
}

.container_tasks label{
    font-family: 'Montserrat';
    font-size: 1em;
    color: #fff;
    font-weight: 700;
}

.bt_voltar{
    padding: 2% !important;
    background-color: #800;;
    color: #000;
    font-size: 1em;
    font-family: 'Montserrat';
    font-weight: 700;
    border: transparent;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 3%;
}

/* Estilos do footer */
footer {
    margin-top: 5%;
    color: white;
    text-align: center;
    bottom: 0;
    margin-bottom: 4%;
    width: 100%;
    font-family: 'Montserrat';
    font-weight: 700;
}