<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    Sou adm da Boca de fumo
    <header></header>
    <main>
        <div>
            <div>
                <input id="Search" type="text">
                <select name="where" id="Opcao_d_consulta">
                    <option value="nome">Nome</option>
                    <option value="cpf">Cpf</option>
                    <option value="funcao">Função</option>
                </select>
                
            </div>
            <div> 
                <div id="Nome_d_usuarios"></div>
                <div id="CPF"></div>
                <div id="Função"></div>
            </div>
        </div>
        <div>
            <button href="">Novo Usuário</button>
            <button href="">Nova Tarefa</button>
        </div>
    </main>
    <footer></footer>

    <script src="../public/scripts/adminHome.js" type="text/javascript" charset="UTF-8"></script>
</body>
</html>