<!DOCTYPE html>
<html lang="pt_Br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/stylesheet/editTaksAdmin.css">
    <title>Document</title>
</head>
<body>
    <header></header>
    <main>
        <img class="logo_painel_admin" src="../public/image/Logo.png" alt="logo da empresa">
        <article>
            <div class="subtitulo_painel_admin">
                <h2 id="TituloEdit"></h2>
            </div>
        </article>

        <input type="text" value="<%= id_user %>" style="display: none;" id="value_id_user">
        <input type="text" value="<%= id_taks %>" style="display: none;" id="value_id_task">
        <form action="/atualizarTarefa/<%= id_taks %>" method="post" enctype="application/x-www-form-urlencoded">
            <div class="container_editTask">
                <div class="form_NewTask">
                    <div class="form-row">
                        <label for="nome_tarefa" class="form-label">Selecione o dia da semana:</label>
                        <select name="dia" id="Dia_da_semana" class="form-input">
                            <option value="Segunda">Segunda</option>
                            <option value="Terça">Terça</option>
                            <option value="Quarta">Quarta</option>
                            <option value="Quinta">Quinta</option>
                            <option value="Sexta">Sexta</option>
                            <option value="Sábado">Sábado</option>
                            <option value="Domingo">Domingo</option>
                        </select>
                    </div>
                
                    <div class="form-row">
                        <label for="nome_tarefa" class="form-label">Nome da Tarefa</label>
                        <input name="nome_tarefa" id="NomeEdit" type="text" class="form-input">
                    </div>
                
                    <div class="form-row">
                        <label for="descricao" class="form-label">Descrição da Tarefa</label>
                        <textarea name="descricao" id="DescricaoInput" cols="30" rows="10" class="form-input"></textarea>
                    </div>
                
                    <div class="form-row">
                        <label for="condominio" class="form-label">Nome do condominio?</label>
                        <input name="condominio" id="CondominioInput" type="text" class="form-input">
                    </div>
                
                    <div class="form-row" style="display: none;">
                        <label for="condominio" class="form-label">Tarefa concluida?</label>
                        <input name="concluido" style="display: none;" type="text" class="form-input" value="0">
                    </div>
                </div>
                
                <div class="form-row-button">
                    <a href="/tarefas/<%= id_user %>"><button type="button" class="myButton">Voltar</button></a>
                    <button class="myButton" type="submit" >Enviar</button>
                </div>
            </div>
        </form>
    </main>
    <footer>
        <div>
            <p>Agillité Services 2023</p>
        </div>
    </footer>
    <script src="../public/scripts/editTask.js" type="text/javascript" charset="UTF-8"></script>
</body>
</html>