<!DOCTYPE html>
<html lang="pt_Br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/stylesheet/login.css">
    <title>Document</title>
</head>
<body>
    <input type="text" style="display: none;" value="<%= verify %>" id="Verify">

    <img class="logo_painel_admin" src="../public/image/Logo.png" alt="logo da empresa">
    <div class="login-page">
        <div class="form" >
            <form class="login-form" action="/loginUser" method="post">
                <label>Digite seu CPF </label>
                <input id="cpf" type="text" placeholder="CPF" name="cpf" />
                <label>Digite sua Senha </label>
                <input type="password" placeholder="Senha" name="senha"/>
                <button id="submitLogin" type="submit">login</button>
            </form>
        </div>
    </div>
</body>

<script>
    let verify = document.querySelector('#Verify').value

    if(verify == 0){
        console.log('Ok até aqui!')
    }else{
        alert('Credencial inválida!')
    }
</script>
</html>