<!DOCTYPE html>
<html lang="pt_Br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../public/stylesheet/newTask.css">
</head>
<body>
    <img class="logo_painel_admin" src="../public/image/Logo.png" alt="logo da empresa">
    <article>
        <div class="subtitulo_painel_admin">
            <h2>DIGITE OS DADOS DA NOVA TAREFA:</h2>
        </div>
    </article>
    <input id="IfUser" type="text" style="display: none;" value="<%= idConfirm %>">
    <form action="/novaTarefa" method="post">
        <div class="form_NewTask">
            <div class="form-row">
                <label for="nome_tarefa" class="form-label">Selecione o dia da semana:</label>
                <select name="dia" id="Dia_da_semana" class="form-input">
                    <option value="Segunda">Segunda</option>
                    <option value="Terça">Terça</option>
                    <option value="Quarta">Quarta</option>
                    <option value="Quinta">Quinta</option>
                    <option value="Sexta">Sexta</option>
                    <option value="Sábado">Sábado</option>
                    <option value="Domingo">Domingo</option>
                </select>
            </div>

            <div class="form-row">
                <label for="nome_tarefa" class="form-label">Nome da Tarefa:</label>
                <input name="nome_tarefa" type="text" class="form-input" required>
            </div>

            <div class="form-row">
                <label for="descricao" class="form-label">Descrição da Tarefa:</label>
                
                <textarea name="descricao" id="" cols="30" rows="10" class="form-input" required></textarea>
            </div>

            <div class="form-row">
                <label for="condominio" class="form-label">Nome do condominio:</label>
                <input name="condominio" type="text" class="form-input" required>
            </div>

            <div class="form-row" style="display: none;">
                <label for="condominio" class="form-label">Tarefa concluida?</label>
                <input name="concluido" style="display: none;" type="text" class="form-input">
            </div>

            <div class="form-row" style="display: none;">
                <label for="justificativa" class="form-label">Justificativa?</label>
                <input name="justificativa" style="display: none;" type="text" class="form-input">
            </div>

            <div class="form-row">
                <label for="justificativa" class="form-label">Funcionário</label>
                <select name="usuario" id="Id_users" class="form-input"></select>
            </div>  

            <div class="form-row" style="display: none;">
                <label for="justificativa" class="form-label">Selecione o dia?</label>
                <input name="dia_da_tarefa" id="Dia_da_tarefa" style="display: none;" type="text" class="form-input">
            </div>

            <div class="form-row" style="display: none;">
                <label for="justificativa" class="form-label">Informe o horário:</label>
                <input name="horario_tarefa" id="Horario_tarefa" type="text" style="display: none;" class="form-input">
            </div>         
        </div>
        
        <div class="form-row-button">
            <button type="submit" class="myButton">Criar</button>
            <a href="/tarefas/<%= idUser %>"><button type="button" class="myButton">Voltar</button></a>
        </div>
        
    </form>

    <footer>
        <div>
            <p>Agillité Service 2023</p>
        </div>
    </footer>
    <script>
        // Bloqueia a ação de impressão quando a página é carregada
        window.addEventListener("beforeprint", function (e) {
        e.preventDefault();
        alert("A impressão está desativada para esta página.");
        });

        // Bloqueia a ação de impressão quando o usuário pressiona Ctrl + P ou Cmd + P (atalho de impressão)
        window.addEventListener("keydown", function (e) {
        if ((e.ctrlKey || e.metaKey) && e.keyCode === 80) {
            e.preventDefault();
            alert("A impressão está desativada para esta página.");
        }
        });

        window.addEventListener('contextmenu', function (e) {
            e.preventDefault();
        });
    </script>
    <script src="../public/scripts/newTask.js" type="text/javascript" charset="UTF-8"></script>
</body>
</html>