@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

*{
    padding: 0;
    margin: 0;
}

body{
    background-image: url(../image/background.svg);
    background-size: cover;
    margin: 0;
    padding: 0;
    min-height: 100vh; /* Isso é importante para que o footer fique na parte inferior da página */
    position: relative; /* Define a posição relativa para o body */
}

.logo_painel_admin{
    width: 100vw;
    margin-top: 20%;
}

.subtitulo_painel_admin{
    text-align: center;
    color: white;
    font-family: 'Montserrat';
    font-size: 0.8em;
    margin-bottom: 5%;
}

.input_dia{
    margin: 0% 6%;
    width: 88vw;
    height: 5em;
    font-family: 'Montserrat';
    font-weight: 700;
    text-align: center;
    font-size: 1em;
    border: 5px solid #FFFF00;
    border-radius: 10px;
}
.container_tasks{
    background-color: rgb(252, 252, 252);
    margin-left: 6%;
    margin-right: 6%;
}

.container_individualTask{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 2%;
    border: 1px solid #000;
    font-family: 'Montserrat';
    font-weight: 700;
}

.container_individualTask div{
    margin: 0% 2%;
    text-align: center;
}

.container_individualTask h1{
    color: #000;
    font-size: 1.5em;
}

.bt_sair{
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 1em;
    color: #000;
    padding: 2%;
    background-color: #800;
    border-radius: 10px;
    margin-left: 6%;
    margin-top: 2%;
    cursor: pointer;
    border: transparent;
    border-radius: 5px;
}

/* Estilos do footer */
footer {
    margin-top: 5%;
    color: white;
    text-align: center;
    bottom: 0;
    margin-bottom: 4%;
    width: 100%;
    font-family: 'Montserrat';
    font-weight: 700;
}

